In [3]:
import pandas as pd
df = pd.read_csv("C:/Users/Awesomemin/Desktop/연구아카이브/Time_Series_with_Python/data/jj.csv")

In [4]:
# 존슨앤존슨 분기별 주당순이익 데이터 상단 보기
df.head()

         date  data
0  1960-01-01  0.71
1  1960-04-01  0.63
2  1960-07-02  0.85
3  1960-10-01  0.44
4  1961-01-01  0.61

In [5]:
# 데이터 마지막 5개 항목보기
# 베이스라인 모델의 성능을 평가하기 위
df.tail()

          date   data
79  1979-10-01   9.99
80  1980-01-01  16.20
81  1980-04-01  14.67
82  1980-07-02  16.02
83  1980-10-01  11.61