In [2]:
# 데이터 불러오기 
import pandas as pd
df = pd.read_csv('C:/Users/Awesomemin/Desktop/연구아카이브/Time_Series_with_Python/data/NSI.csv')
df

       Date     NSI
0   2019/01   97.23
1   2019/02   95.80
2   2019/03   95.68
3   2019/04  101.70
4   2019/05   94.68
..      ...     ...
68  2024/09   98.67
69  2024/10  100.46
70  2024/11  100.47
71  2024/12   85.75
72  2025/01   99.69

[73 rows x 2 columns]

In [ ]:
# 데이터 전처리 및 시각화